@import './base.css';

#app {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem;

  font-weight: normal;
}

a {
  color: lightskyblue;
}
